:root {
  height: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  flex: 1;
}

.box {
  display: flex;
  height: 100%;
}

section {
  padding: 1em;
}

section:nth-child(1) {
  flex-basis: 240px;
}

section:nth-child(2) {
  flex: 1;
  background-color: #eee;
}

section:nth-child(3) {
  flex-basis: 180px;
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 250px;
  background-color: white;
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card > p {
  padding: .5rem 1rem;
}

.card > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}