* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

.material-icons {
    position: relative;
    top: 5px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #2c96bf;
    padding: .5rem, .5rem, 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1rem;
    padding: 0;
    display: inline;
}

li > a {
    color: black;
    text-decoration: none;
}

p > a {
    color: white;
    text-decoration: none;
}

li > a:hover {
    color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-bottom-width: .8rem;
    border-bottom-style: solid;
    transition: .25s ease-out;
}

header {
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/paul-gilmore-145802-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

p.motto {
    font-style: italic;
    font-size: 1.25rem;
}

main {
    margin-top: 0;
    margin-bottom: 1rem;
}

#menu {
    background-color: #f0f0f0;
}

#menu dt {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}

p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

#menu dd {
    margin: 0;
}

#menu img {
    height: 200px;
    border-radius: 15px;
}

#about {
    background-color: #e0e0e0;
    line-height: 1.5;
}

footer {
    color: white;
    background-color: #3e1305;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

p:last-child {
    padding-top: 8px;
}